/*

Version: 1.2
Description: Designed by <a href="https://profiles.wordpress.org/kenshino/">Jon Ang</a>.
Author: Jon Ang
Author URI: https://lordjon.com/
Tags: wordcamp, singapore

*/

/* 

Valentine: Change fonts to Oxygen and Source Sans Pro

URL must be imported using the Fonts tool at
https://2016.singapore.wordcamp.org/wp-admin/themes.php?page=wc-fonts-options 

@import 'https://fonts.googleapis.com/css?family=Oxygen|Source+Sans+Pro'; 

*/

body,
button,
input,
select,
textarea,
.required {
	font-family: "Source Sans Pro", Merriweather, Georgia, serif;
	line-height: 1.25;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
.post-password-form label,
.main-navigation,
.post-navigation,
.post-navigation .post-title,
.pagination,
.image-navigation,
.comment-navigation,
.site .skip-link,
.widget .widget-title,
.widget_recent_entries .post-date,
.widget_rss .rss-date,
.widget_rss cite,
.tagcloud a,
.site-title,
.entry-title,
.entry-footer,
.sticky-post,
.page-title,
.page-links,
.comments-title,
.comment-reply-title,
.comment-metadata,
.pingback .edit-link,
.comment-reply-link,
.comment-form label,
.no-comments,
.site-footer .site-title:after,
.widecolumn label,
.widecolumn .mu_register label {
	font-family: "Oxygen", Montserrat, "Helvetica Neue", sans-serif;
}

.logged-in .site .skip-link {
	font-family: "Open Sans", sans-serif;
}

.form-allowed-tags code {
	font-family: Inconsolata, monospace;
}

p {
	margin: 0 0 1.25em;
}

a {
	color: #be1e2d;
}

.entry-title a:hover, .entry-title a:focus{
	color: #be1e2d;
}

.site {
	margin: 0;
}

#masthead{
	background: url(https://2016.singapore.wordcamp.org/files/2016/05/hero-image-mobile.jpg) no-repeat scroll 0 0 / cover;
	min-height: 500px;
	margin-bottom: 1em;
}

.site-branding .site-title a {
	background: url("https://2016.singapore.wordcamp.org/files/2016/05/info-for-mobile.png") no-repeat scroll 0 0 / cover;
	color: transparent;
	display: block;
	height: 300px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 300px;
	margin: 0 auto;
}

.menu-toggle{
  	margin: 0 auto;
  	color: #fff;
}

.menu-toggle:hover, .menu-toggle:focus{
	background-color: #1a1a1a;
    	border-color: #1a1a1a;
    	color: #fff;
}
.site-header-menu.toggled-on {
	margin: 2em;
}

.main-navigation li:hover > a, .main-navigation li.focus > a {
	color: #be1e2d;
}

.main-navigation ul{
	background-color: #1a1a1a;
	border: 1px solid #d1d1d1;
}

.main-navigation ul.sub-menu,
.main-navigation ul.sub-menu li{
	border: 0 none;
}

.main-navigation ul ul {
	border-bottom: 0;
}

.main-navigation a{
	padding: 1em 0.5em;
	color: #fff;
}

.site-header {
	padding: 0;
}

.site-branding{
	margin: 1em auto;
	clear: both;
	width: 100%;
}

.site-inner {
	max-width: 100%;
}

.header-image img {
	width: 100%;
}

#content {
	max-width: 1320px;
	margin: 0 auto;
}

.wcorg-organizer {
	margin-bottom: 2em;
	text-align: center;
}

.dropdown-toggle,
.dropdown-toggle:hover
.dropdown-toggle:focus{
	color: #fff;
}

.entry-content ul, .entry-summary ul, .comment-content ul, .entry-content ol, .entry-summary ol, .comment-content ol{
	margin-left: 2em;
}

/* Sponsor Page */

.wcorg-sponsors > div{
	border: 1px solid #be1e2d;
	margin-bottom: 1.5em;
	overflow: auto;
	text-align: center;
}
.wcorg-sponsors div div > h3{
	display: none;
}

.wcorg-sponsors div > h2{
	background: #be1e2d none repeat scroll 0 0;
    	color: #fff;
    	margin-bottom: 1em;
    	text-align: center;
    	text-transform: uppercase;
}

.wcorg-sponsor-description{
	padding: 1em;
	font-size: 0.9em;
}

.wcorg-sponsor-description .attachment-post-thumbnail{
	width: 70%;
}

.wcorg-sponsor-level-gold .wcorg-sponsor-description img,{
	width: 50%;
}

/* Speakers */

div.wcorg-speaker {
	padding: 0.7rem 0;
}

.wcorg-speaker > h2{
	font-family: "Oxygen", Montserrat, "Helvetica Neue", sans-serif;
	margin-bottom: 0;
}

.wcorg-speaker-description > img{
	max-width: 100px;
	width: 100%;
	margin: 1.5em;
	box-sizing: border-box;
	float: left;
}

.wcorg-speaker-description > h3{
	float: left;
	width: 80%;
	clear: right;
	margin-top: 3.3rem;
	font-weight: normal;
	font-size: 1.1rem;
}

.wcorg-speaker-description p{
	clear: both;
}

/* Speaker Introduction Posts */

div.wcorg-speaker-post {
	padding: 1.2rem 0;
}

.wcorg-speaker-post > img{
	border-radius: 50%;
	float: left;
	clear: left;
	margin: 0 1.2rem 0 0;
}

@media only screen and (min-width: 767px) {

	body.admin-bar:not(.custom-background-image)::before{
	top: 10px;
	}
	
	body:not(.custom-background-image):before, body:not(.custom-background-image):after{
		height: 0;
	}
  
	#masthead {
		background: url('https://2016.singapore.wordcamp.org/files/2016/05/hero-image-1.jpg') no-repeat scroll 0 0 / cover;
		height: 400px;
		margin-bottom: 2em;
	}
	
	.home #masthead {
		background: url('https://2016.singapore.wordcamp.org/files/2016/05/hero-image-1.jpg') no-repeat scroll 0 0 / cover;
		height: 760px;
	}
	
	.site-header-main {
		display: block;
		height: 100%;
		position: relative;
		z-index: 1;
	}
	
	.site-branding {
		left: 0;
		position: absolute;
		right: 0;
		top: 15%;
		z-index: 2;
		overflow: visible;
		text-align: center;
	}
	
	.site-branding .site-title a {
		background: url("https://2016.singapore.wordcamp.org/files/2016/05/info-for-desktop.png") no-repeat scroll 0 0 / 100% auto;
		height: 350px;
		width: 350px;
	}
	
	.home .site-branding .site-title a{
		height: 500px;
		width: 500px
	}
	
	#site-header-menu {
		background: #1a1a1a none repeat scroll 0 0;
		color: #fff;
		margin: 0 auto;
		position: fixed;
		width: 100%;
		z-index: 999;
		height: 42px;
	}
	
	.main-navigation ul,
	.main-navigation ul ul li{
		background-color: #1a1a1a;
	}
	
	.main-navigation ul,
	.main-navigation ul ul,
	.main-navigation ul ul li{
		border: 0 none;
	}
	
	
	.menu-main-menu-container {
		text-align: center;
	}
	
	.main-navigation a {
		color: #fff;
		padding: 0.65625em 0.875em;
	}
	
	.primary-menu {
		display: inline-block;
	}
	
	.site-title {
		height: 500px;
		width: 500px;
		margin: 0 auto;
	}
	
	.site-branding .site-title a {
		color: #fff;
	}
	
	.site-description {
		display: none;
	}
	
	body:not(.search-results) article:not(.type-page) .entry-content {
		width: 78%;
	}
	
	.entry-date::before {
		clear: both;

		display: block;
		font-family: dashicons;
		font-size: 3em;
		margin: 0 auto 0 -.5em;
		text-align: center;
		width: 100%;
	}
	
	.wcorg-organizer {
		float: left;
		width: 50%;
	}
	
	.wcorg-sponsor-level-silver > div {
		width: 50%;
		float: left;
	}
	
	.wcorg-sponsor-level-bronze > div {
		width: 33.33%;
		float: left;
	}
	
	.wcorg-speaker-description > img{
		width: 20%;
	}
}

@media only screen and (min-width: 767px) and (max-width:1367px) {
    	/* Non HD Laptops */
	.home #masthead {
		height: auto;
	}
	.site-branding .site-title a{
		margin-top: 100px;
	}
}

@media only screen and (min-width: 767px) and (max-width:1440px) {
    	/* Macbook Air and other 16:10 devices up to 1440  */
    	.home #masthead {
		height: 600px;
		background-size: cover;
	}
	.site-branding{
		margin-top: 0;
	}
	
	.site-branding .site-title a{
		margin-top: 0;
	}
	
	.site-branding .site-title a{
		height: 350px;
		width: 350px;
	}
	
	.home .site-branding .site-title a{
		height: 400px;
		width: 400px;
	}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    	/* iPad */
    	
    	#masthead{
    		background-size: cover;
    	}
    	
    	.site-branding{
    		margin: 0;
    		position: relative;
    		top: 0;
	}
		
	.site-title{
		height: auto;
		width: auto;
	}
	.site-header-main{
		text-align: center;
	}
	
	.site-branding{
		margin: 0 0 2em;
		padding-top: 1em;
	}
	
	.site-branding .site-title a{
		margin-top: 0;
	}
	
	#site-header-menu{
		background: none;
		position: relative;
	}
	
	.dropdown-toggle{
		color: #fff;
	}
	
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	 /* iPad */
	 
    	#masthead{
    		background-size: cover;
    	}
    	
    	.site-branding .site-title a,
    	.home .site-branding .site-title a{
		height: 350px;
		width: 350px;
	}

}
