/*

Version: 1.1
Description: Designed by <a href="https://profiles.wordpress.org/kenshino/">Jon Ang</a>.
Author: Jon Ang
Author URI: https://lordjon.com/
Tags: wordcamp, singapore

*/

a {
	color: #be1e2d;
}

.entry-title a:hover, .entry-title a:focus{
	color: #be1e2d;
}

.site {
	margin: 0;
}

#masthead{
	background: url(https://2016.singapore.wordcamp.org/files/2016/05/hero-image-mobile.jpg) no-repeat;
	min-height: 500px;
	margin-bottom: 1em;
}

.site-branding .site-title a {
	background: url("https://2016.singapore.wordcamp.org/files/2016/05/info-for-mobile.png") no-repeat scroll 0 0 / 100% auto;
	color: transparent;
	display: block;
	height: 300px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 300px;
	margin: 0 auto;
}

.menu-toggle{
  	margin: 0 auto;
  	color: #fff;
}

.menu-toggle:hover, .menu-toggle:focus{
	background-color: #1a1a1a;
    	border-color: #1a1a1a;
    	color: #fff;
}
.site-header-menu.toggled-on {
	margin: 2em;
}

.main-navigation li:hover > a, .main-navigation li.focus > a {
	color: #be1e2d;
}

.main-navigation ul{
	background-color: #fff;
	border: 1px solid #d1d1d1;
}

.main-navigation ul.sub-menu,
.main-navigation ul.sub-menu li{
	border: 0 none;
}

.main-navigation ul ul {
	border-bottom: 0;
}

.main-navigation a{
	padding: 1em 0.5em;
}

.site-header {
	padding: 0;
}

.site-branding{
	margin: 1em auto;
	clear: both;
	width: 100%;
}

.site-inner {
	max-width: 100%;
}

.header-image img {
	width: 100%;
}

#content {
	max-width: 1320px;
	margin: 0 auto;
}

.wcorg-organizer {
	margin-bottom: 2em;
	text-align: center;
}

@media only screen and (min-width: 767px) {

	body.admin-bar:not(.custom-background-image)::before{
	top: 10px;
	}
	
	body:not(.custom-background-image):before, body:not(.custom-background-image):after{
		height: 0;
	}
  
	#masthead {
		background: url('https://2016.singapore.wordcamp.org/files/2016/05/hero-image-1.jpg') no-repeat;
		height: 400px;
		margin-bottom: 2em;
	}
	
	.home #masthead {
		background: url('https://2016.singapore.wordcamp.org/files/2016/05/hero-image-1.jpg') no-repeat;
		height: 760px;
	}
	
	.site-header-main {
		display: block;
		height: 100%;
		position: relative;
		z-index: 1;
	}
	
	.site-branding {
		left: 0;
		position: absolute;
		right: 0;
		top: 15%;
		z-index: 2;
		overflow: visible;
		text-align: center;
	}
	
	.site-branding .site-title a {
	    background: url("https://2016.singapore.wordcamp.org/files/2016/05/info-for-desktop.png") no-repeat scroll 0 0 / 100% auto;
	    height: 500px;
	    width: 500px;
	}
	
	#site-header-menu {
		background: #1a1a1a none repeat scroll 0 0;
		color: #fff;
		margin: 0 auto;
		position: fixed;
		width: 100%;
		z-index: 999;
		height: 42px;
	}
	
	.main-navigation ul,
	.main-navigation ul ul li{
		background-color: #1a1a1a;
	}
	
	.main-navigation ul,
	.main-navigation ul ul,
	.main-navigation ul ul li{
		border: 0 none;
	}
	
	
	.menu-main-menu-container {
		text-align: center;
	}
	
	.main-navigation a {
		color: #fff;
		padding: 0.65625em 0.875em;
	}
	
	.primary-menu {
		display: inline-block;
	}
	
	.site-title {
		height: 500px;
		width: 500px;
		margin: 0 auto;
	}
	
	.site-branding .site-title a {
		color: #fff;
	}
	
	.site-description {
		display: none;
	}
	
	body:not(.search-results) article:not(.type-page) .entry-content {
		width: 78%;
	}
	
	.entry-date::before {
		clear: both;

		display: block;
		font-family: dashicons;
		font-size: 3em;
		margin: 0 auto 0 -.5em;
		text-align: center;
		width: 100%;
	}
	
	.wcorg-organizer {
		float: left;
		width: 50%;
	}
}
