/*

Version: 1.0
Description: Designed by <a href="https://profiles.wordpress.org/kenshino/">Jon Ang</a>.
Author: Jon Ang
Author URI: https://lordjon.com/
Tags: wordcamp, singapore

*/

a {
	color: #be1e2d;
}

.site {
  margin: 0;
}

.menu-toggle{
  margin: 0 auto;
}

.site-header-menu.toggled-on {
	margin: 2em;
}

.main-navigation li:hover > a, .main-navigation li.focus > a {
	color: #be1e2d;
}

.main-navigation ul ul {
	border-bottom: 0;
}

.site-header {
	padding: 0;
}

.site-branding{
	margin: 1em auto;
}

.site-inner {
	max-width: 100%;
}

.header-image img {
	width: 100%;
}

#content {
	max-width: 1320px;
	margin: 0 auto;
}

.wcorg-organizer {
	margin-bottom: 2em;
	text-align: center;
}

@media only screen and (min-width: 767px) {

	body.admin-bar:not(.custom-background-image)::before{
	top: 10px;
	}
	
	body:not(.custom-background-image):before, body:not(.custom-background-image):after{
		height: 0;
	}
  
	#masthead {
		background: url('https://2016.singapore.wordcamp.org/files/2016/05/hero-image-1.jpg') no-repeat;
		height: 400px;
		margin-bottom: 2em;
	}
	
	.home #masthead {
		background: url('https://2016.singapore.wordcamp.org/files/2016/05/hero-image-1.jpg') no-repeat;
		height: 760px;
	}
	
	.site-header-main {
		display: block;
		height: 100%;
		position: relative;
		z-index: 1;
	}
	
	.site-branding {
		left: 0;
		position: absolute;
		right: 0;
		top: 15%;
		z-index: 2;
		overflow: visible;
		text-align: center;
	}
	
	.site-branding .site-title a {
	    background: url("https://2016.singapore.wordcamp.org/files/2016/05/info-for-desktop.png") no-repeat scroll 0 0 / 100% auto;
	    color: transparent;
	    display: block;
	    height: 500px;
	    overflow: hidden;
	    text-indent: 100%;
	    white-space: nowrap;
	    width: 500px;
	}
	
	#site-header-menu {
		background: #1a1a1a none repeat scroll 0 0;
		color: #fff;
		margin: 0 auto;
		position: fixed;
		width: 100%;
		z-index: 999;
		height: 42px;
	}
	
	.main-navigation ul ul li {
		background-color: #1a1a1a;
		border: 0 none;
	}
	
	.menu-main-menu-container {
		text-align: center;
	}
	
	.main-navigation a {
		color: #fff;
	}
	
	.primary-menu {
		display: inline-block;
	}
	
	.site-title {
		height: 500px;
		width: 500px;
		margin: 0 auto;
	}
	
	.site-branding .site-title a {
		color: #fff;
	}
	
	.site-description {
		display: none;
	}
	
	body:not(.search-results) article:not(.type-page) .entry-content {
		width: 78%;
	}
	
	.entry-date::before {
		clear: both;

		display: block;
		font-family: dashicons;
		font-size: 3em;
		margin: 0 auto 0 -.5em;
		text-align: center;
		width: 100%;
	}
	
	.wcorg-organizer {
		float: left;
		width: 50%;
	}
}
